
.breadcrumb{
  padding-top: 20%;
}

.logo-container {
  width: 110px; /* Set the width as needed */
  height: 100px; /* Set the height as needed */
  background-image: url('../img/l.png');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.image-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}

.image-container img {
  width: 200px; /* Adjust the width of each image */
  height: 100%; /* Maintain the aspect ratio of the images */
  object-fit: cover; /* Adjust the object-fit property as needed */
  margin-right: 10px; /* Adjust the spacing between images */
}

#mainNavigation a {
    font-family: 'Cabin', sans-serif;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.4)
  }
  
  .dropdown-menu {
    background:#42b883
  }
  a.dropdown-toggle {
    color:#dfdfdf !important
  }
  a.dropdown-item:hover {
    color:#42b883 !important
  }
  .nav-item a{
    color:#dfdfdf;
  }
  .nav-item a:hover {
    color:#fff
  }
  .nav-item{
    min-width:12vw;
  }
  #mainNavigation {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:123;
    padding-bottom:60px;
    background: url('../img/l.png');
      
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
  #navbarNavDropdown.collapsing .navbar-nav,
  #navbarNavDropdown.show .navbar-nav{
    background:#ff9a3c;
    padding:12px;
  }

  /*-----------------------------------------*/

/**Parte centrale*/
.adoptionBtn{
    background-color: orange;
    border-radius: 8px;
    border-color:orange;
  }
  .adoptionBtn:hover{
      background-color: orange;
      background-image:linear-gradient(rgb(0 0 0/5%) 0 0);;
  }

  .servizi {
    display: flex;
    justify-content: center;
}

.servizi .center{
    color: #155263;
    font-size: 20pt;
    white-space:nowrap;
    font-weight: bold;
}

.list-service{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15pt;
}

.list-service .img-item{
    width: 100px;
    margin: auto;
    display: block;
}

.list-service .text-title{
    font-weight: bold;
    text-align: center;
}

.list-service .text{
    font-weight: italic;
    text-align: center;
    color: #596e79;
}

/**Parte info in basso*/
.column {
    width: 100%;
    /*background-color: #393e46;*/
    height: 450px;
    color: black;
    font-size: 15pt;
  }
  @media (min-width: 48em) {
    .column {
      float: left;
      width: 33.33%;
      text-align: center;
      
    }
    /* Stops the float property from affecting content after the columns */
    .columns:after {
      content: "";
      display: table;
      clear: both;
      
    }
  }
.header-sezione {
    border-bottom: 2px solid #357ebd;
    margin-bottom: 2em;
    margin-top: 2em;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
}

blockquote p {
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
    font-style: italic;
}

blockquote small {
    display: block;
    line-height: 1.428571429;
    color: #999999;
}

.breadcrumb {
    margin-top: 15px;
}

.current {
    background-color: lightgrey;
}

/*
Menu minimal version
*/

div#menu {
    width: 100%;
    float: left;
    background: lightgrey;
}

div#menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#menu li
{
    float:left;
    padding: 5px;
    border-right: 1px solid black;
    color:black;
}

div#menu a
{
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none;
}

div#menu a:hover
{
    background-color: darkgrey;
}

div#menu li ul
{
    display: none
}

div#menu li:hover ul
{
    display: block;
    position: absolute;
    z-index:1;
    width:160px;
    border:1px solid black;
    background: white;
}

div#menu li li { border:none; width:150px; }

.form-group {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}